<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <!--view层模板-->
    <div id="app">
        性别：
        <input type="radio" name="sex" value="男" v-model="message">man
        <input type="radio" name="sex" value="女" v-model="message">woman
        <p>选中了：{{message}}</p>
    </div>

    <!--1.导入vue的cdn-->
    <script src="https://cdn.bootcss.com/vue/2.4.4/vue.min.js"></script>
    <script>
        var vm = new Vue({
            el:"#app",
            //model:数据
            data: {
                message: "未填"
            }
        });
    </script>
</body>
</html>